<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <!-- css -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/burger_style.css" type="text/css" />
    <title>Eat Da Burger!</title>
</head>

<body>
    <div class="jumbotron">
  <h1 class="display-4">Eat Da Burger!</h1>
    <img src="/assets/img/burger.gif" width="80%" id="burger-gif">
    <p>Let us know the name of the burger you want to eat:</p>
</div>


    {{{ body }}}

</body>

</html>