<div class="container">

    <!-- first row -->
    <div class="row">

        <div class="col-md-12">
            <h1 style="text-align:center;">Eat Da Burger!</h1>
        </div>

    </div>

    <div class="row">
        <div class="col-md-12">
            <img src="/img/burger.gif">
        </div>

    </div>

    <!-- second row, game intro -->
    <div class="row">

        <div class="col-md-12">
            <p style="text-align:center;">
                We all love burgers. Name the one you want to eat!

            </p>
        </div>

    </div>

    <!-- third row, where the game is -->
    <div class="row">

        <div class="col-md-12" style="text-align: center;">
            <form>
                <div class="form-group" style="text-align:center;">
                    <input type="text" class="form-control" id="nameInput" placeholder=" Enter burger name">
                </div>


                <button type="submit" class="btn btn-primary">Submit</button>
            </form>

        </div>

    </div>