body {
    background-color: #fedd32;
    margin: 20%;
}

.jumbotron {
    background-color: #fedd32;
    margin: 20px 0px 0px 20px;
    text-align: center;
}



/* #burger-gif {
    display: block;
   margin: auto;
} */

p {
    margin: 20px 0px 0px 0px;
}

button {
    align-self: center;
}




